.Navbar {
  margin: 18px 46px;
  display: flex;
  z-index: 1;
}

/* Header */

.Navbar_header {
  flex: 0 0 10%;
}

.Navbar_logo {
  width: 150px;
  height: 150px;
}

/* Content */

.Navbar_content {
  flex: 1;
  height: 100%;
  width: 100%;
  margin: auto 0;
}

.Navbar_links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

.Navbar_links li {
  display: inline-block;
  margin-left: 12px;
  font-size: 20px;
}

.Navbar_link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.Navbar_link-toggle {
  display: none;
}

@media only screen and (max-width: 689px) {
  .Navbar_link div {
    margin-right: 0 !important;
  }

  .Navbar_links li {
    display: block;
  }
}

.Navbar_link:hover {
  color: red;
}
