@font-face {
  font-family: "Univers";
  font-style: normal;
  font-weight: bold;
  src: local("Univers"), url("./fonts/Univers.woff") format("woff");
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Univers";
  overflow-x: hidden;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 800px) {
  body {
    background-position: top;
    background-size: 100%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
  body {
    background-position: center;
    background-size: 80%;
  }
}

@media only screen and (max-width: 700px) {
  body {
    background-position: center bottom;
    background-size: 100%;
  }
}
